<h1>Comments</h1>
<table>
  <tr><th>Comment</th><th>User</th><th>Email</th></tr>
  <%@post.comments.each do |comment|%>
  <tr>
      <td><%= comment.content%></td>
      <td><%= comment.user.username%></td>
      <td><%= comment.user.email%></td>
  </tr>
 <% end %>
</table>
