img {
  width: 70px;
  height: 80px;
}
table {
  width: 50%;
  left: 25%;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#nav-list li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
